((*- extends 'base.tex.j2' -*))

((* block author *))
\author{Oleg Litvinov}
((* endblock author *))

((* block title *))
\title{HW 6}
((* endblock title *))

((* block bibliography *))
\bibliographystyle{unsrt}
\bibliography{ref}
((* endblock bibliography *))